[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/cmsis"]
	path = external/cmsis
	url = https://github.com/STMicroelectronics/cmsis_core
[submodule "external/stm32f7_hal"]
	path = external/stm32f7_hal
	url = https://github.com/STMicroelectronics/stm32f7xx_hal_driver
[submodule "external/cmsis-device-f7"]
	path = external/cmsis-device-f7
	url = https://github.com/STMicroelectronics/cmsis-device-f7
[submodule "external/cmsis-device-f1"]
	path = external/cmsis-device-f1
	url = https://github.com/STMicroelectronics/cmsis-device-f1
[submodule "external/cmsis-device-f3"]
	path = external/cmsis-device-f3
	url = https://github.com/STMicroelectronics/cmsis-device-f3
[submodule "external/stm32f1_hal"]
	path = external/stm32f1_hal
	url = https://github.com/STMicroelectronics/stm32f1xx_hal_driver
[submodule "external/stm32f3_hal"]
	path = external/stm32f3_hal
	url = https://github.com/STMicroelectronics/stm32f3xx_hal_driver
